@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: url(social-media/background.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 35px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo a{
    font-size: 40px;
    text-decoration: none;
    color: aliceblue;
}
.font{
    color: red;
}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    margin: 15px 20px;
    list-style: none;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: 300px;
}
nav ul li .about{
    color: red;
}
nav ul li a:hover{
    color: red;
}
.wrapper{
    perspective: 3000px;
    margin: 30px 80px;
    font-family: 'roboto';
}
.card{
    background: url(social-media/thisara.jpg);
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 530px;
    transform-style: preserve-3d;
    transition: transform .8s ease-in-out;
    cursor: pointer;
    border: 1px solid white;
    box-shadow: 5px 5px 10px rgb(0, 0, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}  
.card:hover{
    transform: rotateY(180deg);
}
.front-page, .back-page{
    backface-visibility: hidden;
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.front-page {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: blanchedalmond;
    transform: rotateY(0deg);
}
 .back-page {
    top: 0;
    background-color: rgb(16, 16, 89);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: rotateY(180deg);
    cursor: pointer;
    border: 1px solid white;
    box-shadow: 5px 5px 10px rgb(0, 0, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
h1{
  color: aliceblue;  
}
.title{
    font-size: 40px;
    text-shadow: 5px 5px 5px black;
}
.subtitle{
    font-size: 30px;
    text-shadow: 3px 5px 5px
}
h3{
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-shadow: 5px 5px 5px white;
}
.description{
    font-size: 20px;
    color: antiquewhite;
    text-shadow: 5px 6px 5px black;
}

.a{
    width: 100px;
    height: 70px;
    background: rgb(255, 255, 255);
    text-decoration: none;
    color: rgb(64, 69, 72);
}
@media screen and (max-width:600px) {
    .logo a{
        font-size: 30px;
        text-decoration: none;
        color: aliceblue;
    }
    .font{
        color: red;
    }
    nav{
        padding: 1px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav ul li{
        display: inline-block;
        margin: 5px 10px;
        list-style: none;
    }
    nav ul li a{
        color: black;
        text-decoration: none;
        font-weight: 300px;
        font-size: 17px;
        
    }
    nav ul li .about{
        color: red;
    }
    nav ul li a:hover{
        color: red;
    }

}
 /*this is home page coding and thanks..hope this will helpful and you can get basic idea about home page design*/
  /*this is your code boy thisara sagara hewawitharana you can contact me from those links in web page or links following*/

   /*WhatsApp - +94788303001*/
   /*Facebook - Thisara Sagra*/
   /*Email - sagarathisara123@gmail.com*/

   /*for facebook and email responding time take lonnger than i respond to whatsApp massages❤️❤️(❁´◡`❁)*/