@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: url(social-media/background.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 35px;
    padding-left: 8%;
    padding-right: 8%;
}
 /*thisara logo top left*/
.logo a{
    text-decoration: none;
    color: aliceblue;
}
.font{
    color: red;
}
 /*nav bar items*/
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 /*thisara logo top left*/
.logo{
    font-size: 40px;
    text-decoration: none;
}
nav ul li{
    display: inline-block;
    margin: 15px 20px;
    list-style: none;
}
 /*nav bar short link items*/
nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
    transition: 0.5s;
}

nav ul li .home{
    color: red;
}
nav ul li a:hover{
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-size: 15px;
}
 /*welcome title*/
.title{
    font-size: 70px;
    color: rgb(70, 224, 224);
    text-shadow: 0px 4px 4px black ;
}
h1{
    font-size: 40px;
    color: antiquewhite;
    text-shadow: 0px 4px 4px black ;
}
 /*button holder and font size*/
.btm{
    text-align: center;
    font-size: 20px;
}
 /*button design*/
.btn {
    text-decoration: none;
    height: 50px;
    width: 100px;
    background: black;
    color: aliceblue;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.5s;
    font-weight: 300px;
}
 /*link inside button create normaal(remove text decoration)*/
.btn a{
    width: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
 /*button hover efect and other hovering things*/
.btn:hover{
    height: 50px;
    width: 100px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 10px;
    font-weight: 300px;
}
 /*social image items with links*/
.social a img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 15px 20px;
}
@media screen and (max-width:600px){
    nav{
        padding: 5px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
     /*thisara logo top left*/
    .logo{
        font-size: 30px;
        text-decoration: none;
    }
    nav ul li{
        display: inline-block;
        margin: 3px 7px;
        list-style: none;
    }
     /*nav bar short link items*/
    nav ul li a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 17px;
        transition: 0.5s;
    }
    
    nav ul li .home{
        color: red;
    }
    nav ul li a:hover{
        color: rgb(255, 0, 0);
        text-decoration: none;
        font-size: 17px;
    }
     /*welcome title*/
    .title{
        font-size: 50px;
        color: rgb(0, 255, 255);
        text-shadow: 0px 4px 4px black ;
    }
    h1{
        font-size: 28px;
        color: antiquewhite;
        text-shadow: 1px 1px 1px black ;
    }
     /*button holder and font size*/
    .btm{
        text-align: center;
        font-size: 20px;
    }
     /*button design*/
    .btn {
        text-decoration: none;
        height: 50px;
        width: 100px;
        background: black;
        color: aliceblue;
        border: 2px solid black;
        border-radius: 10px;
        transition: 0.5s;
        font-weight: 300px;
    }
     /*link inside button create normaal(remove text decoration)*/
    .btn a{
        width: 50px;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
     /*button hover efect and other hovering things*/
    .btn:hover{
        height: 50px;
        width: 100px;
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border: 2px solid black;
        border-radius: 10px;
        font-weight: 300px;
    }
     /*social image items with links*/
    .social a img{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30px;
        height: 30px;
        display: inline-block;
        margin: 15px 20px;
}
}
 /*this is home page coding and thanks..hope this will helpful and you can get basic idea about home page design*/
  /*this is your code boy thisara sagara hewawitharana you can contact me from those links in web page or links following*/

   /*WhatsApp - +94788303001*/
   /*Facebook - Thisara Sagra*/
   /*Email - sagarathisara123@gmail.com*/

   /*for facebook and email responding time take lonnger than i respond to whatsApp massages❤️❤️(❁´◡`❁)*/